@charset "UTF-8";

/* Includes */
@import url('reset.css');

/* General Styles */

html {
  overflow-x: hidden;
}

body {
  font-family: 'Hind Guntur', sans-serif;
}

a {
  transition: 0.5s;
}
  
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

/* Nav Bar */

.navbar {
  height: 25vh;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#top {
  background: rgb(172,0,0);
  background: linear-gradient(0deg, rgba(172,0,0,1) 7%, rgba(204,0,0,1) 7%, rgba(255,0,0,1) 100%);
  padding: 1% 0;
  width: 100vw;
}

.buttonIn {
  position: relative;
  width: 100%;
}

.form-control {
  width: 100%;
}

.form-control:focus {
  border-color: rgb(172,0,0);
  box-shadow: 0 0 0 0.2rem rgba(172,0,0,1);
} 


input#searchbar {
  border-radius: 50px;
  border: none;
  padding: 21px 0 21px 15px;
  width: 50vw;
}

.button {
  background: rgb(172,0,0);
  position: absolute; 
  top: 0; 
  right: 0px; 
  z-index: 2; 
  border-radius: 70px;
  border: none; 
  cursor: pointer; 
  color: #fff;
  font-size: 1.2em;
  padding: 10px 40px 10px 40px;
  transform: translateX(2px);
}

.button:focus {
  outline: none;
}

/* Highlights */

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#highlights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin-bottom: 5%;
}

#highlights h1 {
  color: rgb(172,0,0);
  font-size: 2em;
  font-weight: bold;
  margin: 3% 0 3% 0;
  align-self: flex-start;
}

#highlights h2 {
  color: rgb(80, 79, 79);
  font-size: 1.2em;
  margin-bottom: 2%;
  align-self: flex-start;
}

.container {
  border: 1px solid rgb(190, 190, 190);
  padding: 3%;
}

#byPrice{
   /*position: relative;
   left: 720px;
   margin: 5% 0 1% 0;*/
   display: none;
}

/* products */

.product-grid,.product-grid .img-wrapper {
  overflow:hidden
}

.product-grid { 
  text-align:center;
  transition:all .5s ease 0s;
  margin-bottom: 5%;
  padding: 2%;
  height: calc(100% - 15px);
}

.product-grid:hover {
  box-shadow:0 0 10px rgba(0,0,0,.3)
}

.product-grid .img-wrapper a {
  display: block
}

.product-grid .img-wrapper img { 
  width: 200px;
  height: 200px;
  margin: 3% 0 3% 0;
  transition:all .5s ease 0s
}

.product-grid:hover .img-wrapper img {
  transform:scale(1.1)
}

h6.card-title {
  padding-top: 10%;
}

h6.card-title a {
  color: black;
}

.alinhar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cissa {
  margin: 6%
}

.carrefour {
  margin-left: 6%;
}


@media only screen and (max-width:990px) {
  .product-grid {
      margin-bottom:30px
  }
}


/* rating static */
.imgEstrela{
  position: absolute;
  top: 50px;
  right: 35px;
  width: 18%;
}

div.stars {
  display: flex;
  align-self: baseline;
  justify-content: space-around;
}

.checked {
  color: #FFD600;
  font-size: 1vw;
  margin: 0 1% 0 1%;
}

.notchecked {
  font-size: 1.5vw;
  margin: 0 1% 0 1%;
}

.price-review {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

/* rating dinamic */

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 1.5vw;
  color: #FFD600;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
} 

/*FOOTER*/

footer {
  background: #d3d3d3;
  color: black;
  width: 100vw;
  height: 20vh;
}
  
footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}
  
footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.social {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h3 {
  margin: 1% 0 2% 0;
  font-size: 2em;
}
  
.copy {
  font-size: 1em;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  background-color: #d3d3d3;
}
  
.text-center {
  margin-left: 1.5%;
}
  
  
/* footer social icons */

div.social {
  background-color: #d3d3d3;
}
  
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}
  
ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook,
.social-network a.icoInsta {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
  
.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}
  
.social-network a.icoInsta:hover {
  background-color: #dc4a38;
}
  
.social-network a.icoFacebook:hover span,
.social-network a.icoInsta:hover span {
  color: #fff;
}
  
.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}
  
.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 0 5% 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  width: 40px;
  height: 40px;
  font-size: 30px;
}
  
.social-circle li span {
  margin: 0;
  line-height: 30px;
  text-align: center;
}
  
.social-circle li a:hover span,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
  
.social-circle span {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
  
.social-network a {
  background-color: #F9F9F9;
}

/*Second Page*/

/* Resultado pesquisa celular */

.autocomplete{
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}

.divHome{
  background-color: #FFFFFF;
  color: #39393B;
  position: relative;
  margin: 0 auto;
  margin-top: 2%;
  text-decoration: none;
  border: 1px solid #CFCCCC;
  height: 300px;
}

.divHome a{  
  text-decoration: none;
  color: #39393B;
}

#destaques{
  background-color: #FFFFFF;
  color: #39393B;
  width: 75%;
}

.destaques_uni{
  margin: 0 auto;
  background-color: #FFFFFF;
  color: #39393B;
  width: 60vw;
  max-height: 15%;
}

.imgNew {
  width: 200px;
  height: 200px;
  transition:all .5s ease 0s;
}

.imgNew:hover {
  transform:scale(1.1)
}

.divNome, .divPreco, .imgNew, .link{
  margin: 2%;
}

.divNome {
  position: absolute;
  bottom: 30px;
  left: 35px;
}

.divPreco {
  position: absolute;
  top: 15px;
  right: 35px;
}

.divLogo {
  max-height: fit-content;
  position: absolute;
  bottom: 5px;
  right: 35px;
  width: 120px;
}

.divLogo img {
  position: absolute;
  bottom: 50px;
  right: 1px;
  width: 120px;
} 
  
.img-responsive {
  position: absolute;
  bottom: 5px;
  right: 1px;
  width: 120px;
}

.link{
  cursor: pointer;
}

a.link {
  width: 400px;
}

/* historico de preços */

#session-historico{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -9999px;
}

.main-historico{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.maior, .maiorDiv{
  color: rgb(172,0,0);;
}

.menor, .menorDiv{
  color: green;
}

/*avaliações formulario*/

#session-comentarios {
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

#comentarios {
  margin-bottom: 5%;
  width: 60vw;
}

#form-avalia{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF;
  padding: 2%;
}

#campos-form {
  display: flex;
  flex-direction: column;
}

textarea.campos {
  border-radius: 15px;
}

input.campos, button.campos {
  border-radius: 30px;
}

.campos {
  margin: 2% 0;
  background-color:#D3D3D3;
}

.button-campos {
  width: max-content;
  padding: 10px 40px 10px 40px;
  background-color:#D3D3D3;
  align-self: flex-end;
  letter-spacing: 1px;
}

button.button-campos:hover {
  background-color: rgb(172,0,0);
  color: #FFFFFF;
}

.btn-formComen {
  display: flex;
  justify-content: space-around;
  width: 60vw;
  background-color: #FFFFFF;
}

.container-btnComen {
  width: 433px;
  display: flex;
  justify-content: flex-end;
}

.empty {
  width: 150px;
}

.fa-paper-plane {
  margin-left: 2px;
}

.fa-camera, label[for="imageUpload"] {
  cursor: pointer;
}

label[for="imageUpload"] {
  margin: 5%;
}

.headings-coment, .headings-coment h3 {
  margin: 3% 0;
  letter-spacing: 1px;
}

.headings-coment h3 {
  font-size: 1.5em;
}

.expe-describ h1 {
  font-size: 1.3em;
  letter-spacing: 1px;
  margin-bottom: 2%;
}

.file-button {
  outline: none;
  border: none;
}

.file-button:hover {
  color: rgb(172,0,0);
}

/*image formulario comentario*/

#imageUpload {
  display: none;
}

#profileImage {
  cursor: pointer;
}

#profile-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

#profile-container img {
  width: 150px;
  height: 150px;
}

.foto-coment {
  margin-top: 15%;
}

/* comentarios */

#content {
  width: 60vw;
}

.imgComentario{
  width: 80px;
  height: 80px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  flex-shrink: 0;
}

.send-comment{
  border: 1px solid rgb(190, 190, 190);
  margin-bottom: 3%;
  display: flex;
  align-items: center;
  width: 60vw;
  height: 130px;
  padding: 2%;
  letter-spacing: 1px;
}

.containerComentario {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-basis: 564px;
  flex-grow: 1;
  height: 100px;
  margin: 0 2%; 
}

.containerData {
  margin: 2% 1% 0 1%;
  flex-shrink: 1;
  flex-basis: 70px;
  height: 100px;
}

p.textoComentario {
  margin-top: 1%;
  word-break: break-all;
  margin-bottom: 2%;
}

.nomeComentario {
  margin-top: 1%;
  font-weight: 600;
}

.loja{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: gray;
	padding-top: 1%;
}

.loja, .modelo{
	margin-top: 1%;
}

.date {
  align-self: flex-start;
  margin-bottom: 3%;
}

.estrela {
  color: #FFD600;
}

/* filtro menor preço */

.filtro-preco {
  width: 67vw;
  display: flex;
  justify-content: flex-end;
  margin-top: 2%;
}

#byPrice {
  background-color: #E8E8E8;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #000000;
  padding: 5px;
  -webkit-box-shadow: 1px 1px 2px 2px #ccc;  
  -moz-box-shadow:    1px 1px 2px 2px #ccc;
  box-shadow:         1px 1px 2px 2px #ccc;
}

#byPrice:hover {
  background-color: #DCDCDC;
}

#byPrice:focus {
  border-color: rgb(172,0,0);
  box-shadow: 0 0 0 0.2rem rgba(172,0,0,1);
  outline: none;
}