*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans Condensed', sans-serif;
}
header{
    background-color: #DF0101;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 30vh;
}
.logo{
    margin: 1em auto;
}
.pesquisa{
    display: flex;
    justify-content: center;  
    margin: 0 auto;
    width: 50%;
    height: 7vh;
}
#pesquisaInput{
    border-radius: 50px 2px 2px 50px;
    border: 0;
    font-size: 16px;
    width: 90%;
}
.pesquisaBotao{
    background-color: #8A0808;
    color: #FFFFFF;
    padding: 2vh;
    width: 10%;
    border-radius: 2px 50px 50px 2px;
    cursor: pointer;
}
#pesquisaInput{
    padding-left: 1em;
}

.pesquisaBotao{
    text-align: center;
}

.sombra{
    background-color: #B40404;
    height: .5em;
}
/*sessões*/
.sessao{
    background-color: whitesmoke;
    padding-top: 5%;
    width: 100vw;
    height: 70vh;
}
.imagemAvaliacao{
    background-color: yellow;
    text-align: -webkit-center;
    display: grid;
    gap: 1.5em;
}
.dados{
    background-color: purple;
}
.comentarios, .enviaComentario{
    margin: auto;
    width: 70vw;
    height: 30vh;
}
.comentarios{
    background-color: black;
}
.enviaComentario{
    background-color: blue;
}
.file-chooser{
    visibility: hidden;
}
.preview-img{
    width: 20%;
    clip-path: circle(50% at 50% 50%);
}
footer{
    background-color: whitesmoke;
    position: relative;
    bottom: 0;
}
footer i{
    color: #B40404;
}
footer i:hover{
    color: #B40404;
}
@media (max-width: 500px){
    header{
        display: grid;
        justify-content: inherit;
        padding: 0 1em;
    }
    .pesquisa{
        height: 6vh;
        width: 100%;
        padding-bottom: 5%;
    }
    .logo{
        margin: .5em auto;
        text-align: center;
    }
    #pesquisaInput{
        font-size: 12px;
    }
    .pesquisaBotao{
        padding: 1.2vh;
    }
}
